/* Footer.css */

.footer-container {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre los elementos */
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    flex-wrap: wrap; /* Envuelve los elementos en pantallas pequeñas */
  }
  
  .footer-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px; /* Espacio entre los enlaces */
    width: 150px; /* Ancho fijo para cada logo */
  }
  
  .logo {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
    .footer-container a {
      width: 120px; /* Ancho reducido para pantallas pequeñas */
    }
  }
  

  