/* MyNavbar.css */

.navbar {
    background-color: #0802A3; /* Cambia el color de fondo del Navbar a azul claro */
    width: 100%;
    height: 80px; /* Ajusta la altura del Navbar */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que los elementos se distribuyan correctamente */
    padding: 0 20px; /* Añade un poco de padding a los lados */
    box-sizing: border-box; /* Asegura que el padding no afecte al ancho total */
}

.navbar-brand img {
    height: 60px; /* Ajusta la altura del logo */
}

.nav-link {
    color: white; /* Cambia el color del texto de los enlaces a blanco */
    font-size: 1.2rem; /* Tamaño del texto de los enlaces */
    margin-left: 20px; /* Espacio entre los enlaces */
}

.nav-link:hover {
    color: black; /* Cambia el color del texto de los enlaces al pasar el cursor sobre ellos */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
}
